<template>
    <q-page padding class="column justify-center items-center text-grey-9">
        <h3 class="q-mb-none">Login</h3>
        <h6 class="q-mt-none">Sigin to enjoy the awesome app</h6>
        <q-card style="min-width: 400px;" class="q-pa-md">
            <q-form @submit.prevent="handleSubmit" ref="form" class="q-gutter-md">
                <q-input 
                    v-model="userData.email"
                    label="Email"
                    type="text"
                    lazy-rules
                    :rules="[
                        (val: string) => !!val || 'Please enter your email',
                        (val: string) => {
                            if(val.includes('@') && val.includes('.')) {
                                return true;
                            }
                            return 'Please enter a valid email'
                        }
                    ]"
                />
                <q-input 
                    v-model="userData.password"
                    label="Password"
                    type="password"
                    lazy-rules
                    :rules="[
                        (val: string) => !!val || 'Please enter your password'
                    ]"
                />

                <div>
                    <q-btn type="submit" class="q-mt-md" color="primary" label="Login" />
                </div>
                <div class="q-mt-md">
                    <RouterLink to="/guest/register">Don't have an account? Register here</RouterLink>
                </div>
            </q-form>
        </q-card>
    </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { useUserStore } from 'src/stores/user-store';
import { ref } from 'vue';
import { RouterLink, useRouter } from 'vue-router';

    const userStore = useUserStore();
    const $q = useQuasar();
    const router = useRouter();
    
    const form = ref<HTMLFormElement | null>(null);

    const userData = ref({
        email: "",
        password: ""
    });

    const handleSubmit = async () => {
        try {
            await userStore.login(userData.value);
            $q.notify({
                message: 'Login successfully',
                type: 'positive',
            });
            router.push("/");
        } catch (error: any) {
            $q.notify({
                message: error.response.data.message,
                type: 'positive',
            });
        }
    }
</script>