<template>
    <q-page>
        <q-card>
            <q-card-section>
                <div class="row items-center q-gutter-md">
                    <q-avatar size="150px">
                        <q-skeleton
                            v-if="loadingAvatar"
                            type="circle"
                            size="150px"
                            animated
                        />
                        <template v-else>
                            <q-img
                                v-if="!user.avatar_url"
                                src="http://localhost:8000/avatars/default.png"
                            />
                            <q-img
                                v-else
                                :src="'http://localhost:8000/storage/avatars/' + user.avatar_url"
                                spinner-color="white"
                                spinner-size="50"
                                @load="loadingAvatar = false"
                            />
                        </template>
                    </q-avatar>
                    <div class="q-gutter-xs">
                        <div class="">
                            <div class="text-dark text-h6">Username</div>
                            <q-skeleton v-if="loadingProfileData" type="text" animated />
                            <div v-else>{{ user.name }}</div>
                        </div>
                        <div>
                            <div class="text-dark text-h6">Bio</div>
                            <q-skeleton v-if="loadingProfileData" type="text" animated />
                            <div v-else>{{ user.bio }}</div>
                        </div>
                    </div>
                    <div class="q-ml-lg">
                        <q-skeleton v-if="loadingProfileData" type="text" animated />
                        <div v-else class="text-dark text-h6">
                            <div>{{ posts.length }}</div>
                        </div>
                        {{ posts.length === 1 ? 'post' : 'posts' }}
                    </div>
                </div>
            </q-card-section>
        </q-card>

        <!--posts-->
        <div class="row q-gutter-md q-mt-md justify-start">
            <div
                class="col-12 col-md-3 col-sm-5"
                v-for="post in posts"
                :key="post.id"
            >
                <q-card>
                <q-img
                    class="cursor-pointer fit"
                    :src="'http://localhost:8000/storage/images/' + post.image_path"
                    spinner-color="white"
                    spinner-size="50"
                    @click="showPostDetails(post)"
                />
                </q-card>
            </div>
        </div>

        <!--Dialog-->
        <q-dialog
            @update:model-value="handleDialogClose"
            v-model="showDialog"
            transition-show="slide-up"
            transition-hide="slide-down"
        >
            <q-card v-if="selectedPost">
                <q-card-section>
                    <div class="text-h6">{{ selectedPost.body }}</div>
                </q-card-section>
                <q-img
                    fit="cover"
                    style="width: 500px; height: 300px"
                    :src="'http://localhost:8000/storage/images/' + selectedPost.image_path"
                />
                <q-card-section>
                    <PostCardActions :post="selectedPost" />
                </q-card-section>
                <q-card-section>
                    <CommentSection :post="selectedPost" :loading="loadingComments" />
                </q-card-section>
            </q-card>
        </q-dialog>
    </q-page>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { api } from 'src/boot/axios';
import { usePostStore } from 'src/stores/post-store';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import CommentSection from 'src/components/CommentSection.vue';
import PostCardActions from 'src/components/PostCardActions.vue';
import { Comment, Post } from 'src/types';
import { echo } from 'src/boot/echo';
import { useCommentStore } from 'src/stores/comment-store';

    const router = useRoute();
    const postStore = usePostStore();
    const { posts } = storeToRefs(usePostStore());

    //Variable
    const loadingAvatar = ref(true);
    const loadingProfileData = ref(true);
    const user = ref({
        name: '', 
        bio: '', 
        avatar_url: ''
    });
    const selectedPost = ref<Post | undefined>(undefined);
    const showDialog = ref(false);
    const loadingComments = ref(true);
    const selectedPostComments = ref<Comment[]>([]);

    onMounted(async () => {
        await fetchUserData();
        loadingProfileData.value = false;
        await postStore.fetchUserPosts(Number(router.params.id))

        echo
            .channel('posts')
            .listen('PostCreated', (data: { post: Post }) => {
                postStore.pushNewPostFromBroadcast(data.post);
            })
            .listen('PostLiked', (data: { post: Post }) => {
                postStore.pushNewPostFromBroadcast(data.post);
            });
    })

    const fetchUserData = async () => {
        try {
            const response = await api.get(`users/${router.params.id}`);
            console.log(response.data.user);
            user.value = response.data.user;
            loadingAvatar.value = false;
        } catch (error) {
            console.log(error);
            loadingAvatar.value = false;
        }
    }

    const showPostDetails = (post: Post) => {
        echo
            .channel('posts')
            .listen('PostCreated', (data: { post: Post }) => {
                postStore.pushNewPostFromBroadcast(data.post);
            })
            .listen('PostLiked', (data: { post: Post }) => {
                postStore.pushNewPostFromBroadcast(data.post);
            });
        

        selectedPost.value = post;
        showDialog.value = true;
        loadingComments.value = true;
        useCommentStore()
            .fetchComment(post.id)
            .then((comments: any) => {
                selectedPostComments.value = comments as Comment[] | [];
                loadingComments.value = false; 
            });
    }

    const handleDialogClose = (newValue: boolean) => {
        if (!newValue) {
            selectedPost.value = undefined;
            selectedPostComments.value = [];
            echo
                .channel('posts')
                .stopListening('PostCreated')
                .stopListening('PostLiked');
        }
    }
</script>