<template>
    <q-page padding class="column justify-center items-center text-grey-9">
        <h3 class="q-mb-none">Register</h3>
        <h6 class="q-mt-none">Signup to enjoy the awesome app</h6>
        <q-card style="min-width: 400px;" class="q-pa-md">
            <q-form @submit.prevent="handleSubmit" class="q-gutter-md">
                <q-input 
                    v-model="userData.name"
                    label="Name"
                    type="text"
                    lazy-rules
                    :rules="[
                        (val: any) => !!val || 'Please enter your name',
                    ]"
                />
                <q-input 
                    v-model="userData.email"
                    label="Email"
                    type="text"
                    lazy-rules
                    :rules="[
                        (val: any) => !!val || 'Please enter your email',
                        (val: string | string[]) => {
                            if(val.includes('@') && val.includes('.')) {
                                return true;
                            }
                            return 'Please enter a valid email'
                        }
                    ]"
                />
                <q-input
                    v-model="userData.password"
                    label="Password"
                    type="password"
                    lazy-rules
                    :rules="[
                        (val: any) => !!val || 'Please enter your password'
                    ]"
                />
                <q-input
                    v-model="userData.password_confirmation"
                    label="Password Confirmation"
                    type="password"
                    lazy-rules
                    :rules="[
                        (val: any) => !!val || 'Please enter your password confirmation'
                    ]"
                />

                <div>
                    <q-btn type="submit" class="q-mt-md" color="primary" label="Register" />
                </div>
                <div class="q-mt-md">
                    <RouterLink to="/guest/login">Already have an account? Login here</RouterLink>
                </div>
            </q-form>
        </q-card>
    </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { useUserStore } from 'src/stores/user-store';
import { ref } from 'vue';
import { RouterLink, useRouter } from 'vue-router';
    
    const userStore = useUserStore();
    const router = useRouter();

    const $q = useQuasar();
    const userData = ref({
        name: "",
        email: "",
        password: "",
        password_confirmation: ""
    });

    const handleSubmit = async () => {
        try {
            await userStore.register(userData.value);

            $q.notify({
                message: 'Registration successful',
                type: 'positive',
            });
            router.push('/');
        } catch (error: any) {
            $q.notify({
                message: error.response.data.message,
                type: 'negative',
            });
        }
    }

</script>