<style scoped>
    .liked {
        color: red;
    }
</style>

<template>
    <q-card-actions>
        <span>{{ props.post.likes_count }}</span>
        <q-btn
            :class="{ liked: props.post.is_liked_by_user }"
            flat
            round
            dense
            icon="favorite_border"
            @click="likePost(props.post)"
        />
        <span>{{ props.post.comments_count }}</span>
        <q-btn
            flat
            round
            dense
            icon="chat_bubble_outline"
            @click="toggleComments(props.post)"
        />
    </q-card-actions>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { api } from 'src/boot/axios';
import { Post } from 'src/types';

const props = defineProps({
    post: {
        type: Object as () => Post,
        required: true,
    },
});

const $q = useQuasar();

const toggleComments = (post: Post) => {
    post.showComments = !post.showComments;
}

const likePost = async (post: Post) => {
    try {
        let response = await api.post(`posts/${post.id}/like`);
        if (response.data.is_liked_by_user) {
            $q.notify({
                message: 'Post liked',
                color: 'positive',
                icon: 'thumb_up',
            });
        } else {
            $q.notify({
                message: 'Post unliked',
                color: 'negative',
                icon: 'thumb_down',
            });
        }
    } catch (error: any) {
        let errorMessage;
        if(error.response.status === 422) {
            errorMessage = error.response.data.errors;
        }

        if(error.response.status === 403) {
            errorMessage = error.response.data.message;
        }

        $q.notify({
            message: errorMessage,
            color: 'negative',
            icon: 'error',
        });
    }
}
</script>