<template>
	<q-dialog v-model="showUploadModal">
		<q-card>
			<q-card-section>
				<h6>Upload</h6>
				<q-file
					color="grey-3"
					label-color="blue"
					label="Select an image"
					v-model="image"
					@update:modelValue="handleImagePreview"
				>
					<template v-slot:append>
						<q-icon name="image" color="blue"/>
					</template>
				</q-file>
				<q-img spinner-color="blue" :src="imageUrl" style="min-width: 400px;" />
				<q-input 
					v-model="body"
					label="Description"
					color="grey-3"
          			label-color="blue"
				/>
			</q-card-section>
			<q-card-section>
				<q-card-actions>
					<q-btn
						color="primary"
						label="Upload"
						@click="handlePostUpload"
						:disable="!image"
					/>
					<q-btn
						color="negative"
						label="Cancel"
						@click="showUploadModal = false"
					/>
				</q-card-actions>
			</q-card-section>
		</q-card>
	</q-dialog>
	<q-layout>
		<q-header elevated>
			<div class="row">
				<div class="col-2">
					<q-toolbar>
						<q-btn 
							flat
							round
							dense
							icon="menu"
							aria-label="Menu"
							@click="toggleLeftDrawer"
						/>
						<q-toolbar-title>
							<q-icon name="instagram"/>
							InstaClone
						</q-toolbar-title>
					</q-toolbar>
				</div>
				<!-- Desktop view -->
				<q-tabs class="desktop-only col-10">
					<q-route-tab
						v-for="link in pageLinks"
						:key="link.title"
						:to="link.link"
						:icon="link.icon"
						:label="link.title"
						class="col-2"
					/>
					<q-tab
						v-for="action in actions"
						:key="action.title"
						@click="action.onClick"
						:label="action.title"
						:icon="action.icon"
						class="col-2"
					/>
				</q-tabs>
			</div>
		</q-header>

		<!-- mobile only left drawer -->
		<q-drawer
			v-model="leftDrawerOpen"
			show-if-above
			bordered
			behavior="mobile"
			content-class="bg-grey-1"
		>
			<q-tabs vertical>
				<q-route-tab
					v-for="link in pageLinks"
					:key="link.title"
					:to="link.link"
					:icon="link.icon"
					:label="link.title"
				/>
				<q-tab
					v-for="action in actions"
					:key="action.title"
					@click="action.onClick"
					:label="action.title"
					:icon="action.icon"
				/>
			</q-tabs>
		</q-drawer>

		<q-page-container>
			<RouterView />
		</q-page-container>
	</q-layout>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useUserStore } from 'src/stores/user-store';
import { RouterView, useRouter } from 'vue-router';
import { useQuasar } from 'quasar';
import { api } from 'src/boot/axios';

	const { user } = storeToRefs(useUserStore());
	const $q = useQuasar();
	const router = useRouter();

	const username = computed(() => user.value.name);
	const isLoggedIn = computed(() => username.value ? true : false);
	const showUploadModal = ref(false);
	const imageUrl = ref('');

	//Form
  	const body = ref<string>('');
  	const image = ref<File | null>(null);

	//Methods
	const handleImagePreview = (file: File) => {
    	imageUrl.value = URL.createObjectURL(file);
  	};

	const handlePostUpload = async () => {
		const formData = new FormData();
		formData.append('image_path', image.value as File);
		formData.append('body', body.value);

		try {
			await api.post('posts', formData);
			$q.notify({
				message: 'Post Uploaded Successfully',
				color: 'positive',
				icon: 'cloud_done',
			});
			//reset form
			body.value = '';
			image.value = null;
			imageUrl.value = '';
			showUploadModal.value = false;
		} catch (error) {
			$q.notify({
				message: 'Post Upload Failed',
				color: 'negative',
				icon: 'cloud_done',
			});
			showUploadModal.value = false;
		}
	}
	
	const pageLinks = [
		{
			title: 'Feed',
			caption: 'Daily Updates',
			icon: 'newspaper',
			link: '/'
		},
		{
			title: 'Profile',
			caption: 'Your instaclone page',
			icon: 'person',
			link: `/profile/${user.value.id}`
		},
		{
			title: 'Settings',
			caption: 'Your personal Setting',
			icon: 'settings',
			link: '/settings'
		}
	];

	const actions = computed(() => [
		{
			title: 'Upload',
			icon: 'add',
			onClick: () => {
				showUploadModal.value = !showUploadModal.value;
			}
		},
		{
			title: isLoggedIn.value ? 'Logout' : 'Login',
			icon: isLoggedIn.value ? 'logout' : 'login',
			onClick: async () => {
				if(!isLoggedIn.value) {
					router.push('/guest/login')
				}

				try {
					await useUserStore().logout();

					$q.notify({
						color: 'positive',
						message: 'Logged out successfully',
						icon: 'check'
					});

					router.push('/guest/login');
				} catch (error) {
					$q.notify({
						color: 'negative',
						message: 'Error logging out',
						icon: 'report_problem'
					});
				}
			}
		}
	]);

	const leftDrawerOpen = ref(false);
	const toggleLeftDrawer = () => {
		leftDrawerOpen.value = !leftDrawerOpen.value;
	}
</script>
